@model IEnumerable<EventManager.Models.Event>

@{
    ViewBag.Title = "Events I'm Attending";
}

<h2>Events I'm Attending</h2>
<hr />
<!-- For standard Users-->
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Return to Homepage</a>
</p>
<form asp-controller="Events" asp-action="Index">
    <p>
        Search: <input class="form-control valid" type="text" name="searchString">
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort })</th>
        <th>@Html.ActionLink("Artist Name", "Index", new { sortOrder = ViewBag.ArtistSort })</th>
        <th>@Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSort })</th>
        <th>@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSort })</th>
        <th>@Html.ActionLink("Time", "Index", new { sortOrder = ViewBag.TimeSort })</th>
        <th>@Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSort })</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Artist)</td>
            <td>@Html.DisplayFor(modelItem => item.Genre)</td>
            <td>@item.Date.ToString("MMMM d, yyyy")</td>
            <td>@item.Time.ToString("h:mm tt")</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            @if (item.IsActive == false)
            {
                <td style="color:red">Canceled</td>
            }
            else
            {
                <td></td>

            }
            <td>
                <a asp-action="Cancel" asp-route-id="@item.EventID" class="btn btn-danger">Cancel</a>
            </td>
        </tr>
    }
</table>