@model IEnumerable<EventManager.Models.Event>

@{
    ViewBag.Title = "My Events";
}
<!-- For Artist ONLY-->
<h2>Events</h2>
<hr />
<p>
    <a asp-controller="Events" asp-action="Create" class="btn btn-info">Create New</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Return to Homepage</a>
</p>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Name", "MyEvents", new { sortOrder = ViewBag.NameSort })</th>
        <th>@Html.ActionLink("Artist Name", "MyEvents", new { sortOrder = ViewBag.ArtistSort })</th>
        <th>@Html.ActionLink("Genre", "MyEvents", new { sortOrder = ViewBag.GenreSort })</th>
        <th>@Html.ActionLink("Date", "MyEvents", new { sortOrder = ViewBag.DateSort })</th>
        <th>@Html.ActionLink("Time", "MyEvents", new { sortOrder = ViewBag.TimeSort })</th>
        <th>@Html.ActionLink("Location", "MyEvents", new { sortOrder = ViewBag.LocationSort })</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Artist)</td>
            <td>@Html.DisplayFor(modelItem => item.Genre)</td>
            <td>@item.Date.ToString("MMMM d, yyyy")</td>
            <td>@item.Time.ToString("h:mm tt")</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EventID" class="btn btn-default">Edit</a>
                    <a asp-action="Remove" asp-route-id="@item.EventID" class="btn btn-danger">Remove</a>
            </td>
        </tr>
    }
</table>