@model IEnumerable<EventManager.Models.Event>
@{
    ViewData["Title"] = "Home Page";
}

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User) && ViewBag.ArtistName != "")
{
    <div class="jumbotron">
        <h1>Welcome, @ViewBag.ArtistName!</h1>
        <h2>You are a registered Artist.</h2>
    </div>
    <div>
        <a href="/Events" class="btn btn-success">All Events</a>
        <a href="/Events/MyEvents" class="btn btn-primary">My Events</a>
    </div>

}
else if (SignInManager.IsSignedIn(User) && ViewBag.ArtistName == "")
{
    <div class="jumbotron">
        <h1>Welcome, @UserManager.GetUserName(User)!</h1>
        <h2>You are a regular User.</h2>
    </div>
    <div>
        <a href="/Events" class="btn btn-success">All Events</a>
        <a href="/Events/Attending" class="btn btn-primary">Events I'm Attending</a>
    </div>
    <div class="col-md-5">
        <h2>This Week - Attending</h2>
        <div>
            @foreach(var item in Model){ 
                <div>
                    <p>@item.Date.ToString("dddd, MMMM d, yyyy") - @item.Time.ToString("h:mm tt")</p>
                    <p>@item.Name</p>
                    <p>@item.Artist</p>
                    @if(item.IsActive == false)
                    {
                        <p style="color:red">CANCELED</p>

                    }
                    else
                    {
                        <p></p>

                    }
                </div>
                <br />
            }
        </div>
    </div>

}
else
{
    <h1 class="jumbotron">Welcome to Event Manager!</h1>
    <h2>Please sign in or create an account to use the features.</h2>
}
